<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="scripts.Acti_time2"/>
      <class name="scripts.Acti_time3"/>
      <class name="scripts.Acti_time"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
